<div class="main-content" style="padding-left: 20px;padding-right: 20px;">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Search For Products</h4>
                </div>
                <div class="card-body">
                    <div style="padding: 10px;">
                        Popular products
                    </div>
                    <div style="padding: 10px;">Number of Likes: <i class="material-icons heartIcon">
                            favorite</i>
                        <i class="material-icons heartIcon" *ngFor="let i of [1,2,3,4]">
                            favorite_border</i></div>
                    <div style="padding: 10px;">
                        Popular Type
                    </div>
                    <div style="padding: 10px;">
                        <mat-form-field>
                            <mat-label>Types</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let food of ['l','b','c']" [value]="food">
                                    {{food}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div style="padding: 10px;">
                        Price
                    </div>
                    <div style="padding: 10px;">
                        <mat-slider></mat-slider>251 DT
                    </div>
                    <div>
                        Location
                    </div>
                    <div id="map"></div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <app-product-card></app-product-card>
        </div>
    </div>
</div>